*~
*.orig
*.rej
mak/.*.cmd
mak/.tmp_versions/
mak/Module.symvers
mak/cc-id.cmpout
mak/cc-id.last
mak/cc-id.out
mak/cc-id.ts
mak/dummy.log
mak/dummy.mod.*
mak/kernel-id.cmpout
mak/kernel-id.last
mak/kernel-id.out
mak/kernel-id.ts
mak/modules.order
mak/src-id.cmpout
mak/src-id.last
mak/src-id.out
mak/src-id.ts
conf/*.log
aoetools-*/
conf/.tmp_versions/
conf/Makefile
conf/Module.symvers
conf/done
conf/modules.order
